name = "anyrouter-worker"
main = "build/index.js"
compatibility_date = "2026-02-16"

[observability]
enabled = false
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1

[vars]
UPSTREAM_URL = "https://anyrouter.top"

[build]
command = "cargo install -q worker-build@0.7.4 && worker-build --release"